
html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: block;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #da3a3f;
}

body {
  
}

h1 {
  font-size: 3em;
}

.container {
  
}

.col {
  display: block;
  min-height: 100%;
}

input {
  outline: none;
}

#number-input {
height: 7em;
  font-size: 3.2em;
  height: auto;
}

button#next-button {
  height: 6.1em;
  outline: none;
  margin-top: -1px;
}


#left-column {
  padding-top: 44%;
  padding-left: 4%;
}

#left-column form {
  margin-top: 42%;
}

.input-group button {
  left-margin: -1px;
  border: none;
  outline: none;
  
}


/*
* Footer
*/

footer {
  color: #cfffdd;
  text-align: center;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 0.65em;
}

/*
* Nav
*/

#nav {
  background-color: #ef4445;
  min-height: 100%;
  height: auto;
  width: 16%;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.333s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.333s;
  left: -16%;
}

#nav.nav-show {
  left: 0%;
}

#nav .logo {
  margin: 10%;
  display: block;
  width: 80%;
}

#nav li {
  list-style: none;
  font-size: 1em;
}

#nav li a {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/*
* Main Container
*/


#main-parent {
  width: 100%;
  float: right;
  -webkit-transition: width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.333s;
  transition: width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.333s;
}
.nav-show + #main-parent {
  width: 84%;
}

.main-content,
.main-content > div {
  height: 100%;
}

.main-content .page-home {
  height: 100%;
  display: block;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content .page-wishlist {
  background-color: #da3a3f;
  color: white;
  height: 100%;
}

.talk-bubble {
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  font-size: 2em;
  padding: 1em;
  font-weight: 600;
  position: relative;
}

.talk-bubble:after {
  content: "";
  height: 32px;
  width: 32px;
  display: block;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: -16px;
  top: 50%;
  margin-top: -16px;
}



/*
* Message List
* template: wishlist
*/

.message-list li {
  list-style: none;
  margin-bottom: 1em;
}

.message-bubble {
  background-color: #fdfdfd;
  border: solid 1px white;
  border-radius: 2.75em;
  padding: 2em;
  color: #445;
  float: left;
  width: auto;
  display: inline-block;
}

.profile-image {
  border-radius: 50%;
  border: solid 0.333em white;
  float: right;
}



/*
*   Ng Animations
*/

.fadein-animation.ng-enter {
  animation: fadeIn 1s;
}

.fadein-animation.ng-leave {
  animation: fadeOut 1s;
}





/* Responsive: Portrait tablets and up */
@media (max-width: 768px) {
  
  #nav {
    height: 3.33em;
    width: 100%;
    position: relative;
    left: auto;
  }
  
  #nav.nav-show {
    left: auto;
  }
  
  #nav.exp-mobile {
    height: auto;
  }
  
  #main-parent {
    width: 100%;
    float: none;
  }
  .nav-show + #main-parent {
    width: 100%;
  }
  
}





