<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css(.tmp) /styles/main.css -->
      <link rel="stylesheet" href="styles/bootstrap.css">
      <link rel="stylesheet" href="styles/main.css">
      <link rel="stylesheet" href="bower_components/animate.css/animate.css">
      <!-- endbuild -->
    <!-- <base href="/" /> -->
  </head>
  <body ng-app="santaApp" ng-controller="AppController">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>

    <nav class="navbar navbar-default visible-sm visible-md" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="logo" src="/images/logo.svg"/></a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"><li ng-repeat="ni in nav"><a href="{{ni.link}}">{{ni.title}}</a></li></ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div id="nav" ng-class="{'nav-show':navShow}" class="visible-lg">
      <a href="/#/"><img class="logo" src="/images/logo.svg"/></a>
      <ul><li ng-repeat="ni in nav"><a href="{{ni.link}}">{{ni.title}}</a></li></ul>
      
      <footer class="">
      	<p>♥ from the txt santa team</p>
      </footer>
    </div>
    <div id="main-parent">
      <div class="main-content" ng-view=""></div>
    </div>
        
    

    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-45851649-1', 'txtsanta.co');
    </script>

    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>

        <!-- build:js /scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <!-- endbuild -->

        <!-- build:js /scripts/modules.js -->
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
        <script src="bower_components/angulartics/dist/angulartics-google-analytics.min.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) /scripts/scripts.js -->
        <script src="scripts/vendor/uservoice.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/wishlist.js"></script>
        <script src="scripts/directives/ngEnter.js"></script>
        <script src="scripts/services/apac.js"></script>
        <script src="scripts/services/messages.js"></script>
        <!-- endbuild -->
</body>
</html>
