<div class="page-wishlist container">

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <img class="logo" src="/images/logo.svg">
    </div>
    <div class="col-lg-4">
      <p class="talk-bubble">Here is the list for {{phoneNumber}}</p>
    </div>
    <div class="col-lg-4">
      <img class="santa" src="/images/santa.svg">
    </div>
  </div>

  <h1>{{cdbOut}}</h1>

  <div class="row">
      
      <div class="col-lg-12" ng-show="!loaded">
        <p>Loading</p>
      </div>
      <div class="col-lg-12" ng-show="filteredResults().length < 1">
        <p>No messages</p>
      </div>
      
      <ul class="message-list col-lg-offset-2 col-lg-8" ng-show="loaded">
        <li ng-repeat="message in messages | orderBy:'date_sent':true " ng-click="selectedMessage($index, message.key)" ng-class="{true:'active'}[selectedMsg == $index]">
          <div class="container row">
            <div class="col-lg-2 date">
              {{ formatDate(message.date_sent) | date:'medium' }}
            </div>
            <div class="col-lg-8">
              <div class="message-body">"{{message.body}}"</div>
            </div>
          </div>
          
          
<!--           <img class="product-fake" src="images/results.jpg" ng-show="selectedMsg == $index"> -->
          
          
          <div class="container row">
            <ul class="col-lg-12 products fadein-animation" ng-show="selectedMsg == $index">
              <h2 style="text-align:center; width:100%">Shopping Results for {{searchKey}}</h2>
              <li ng-repeat="item in products">
                <a href="{{item.DetailPageURL[0]}}" target="_blank"><img ng-src="{{ item.MediumImage[0].URL[0] }}"></a><br>
                <a href="{{item.DetailPageURL[0]}}" target="_blank" style="text-align: center">Buy Now</a>
              </li>
            </ul>
          </div>
          
        </li>
      </ul>
          
  </div>
  
  <div style="clear: both"></div>
  
  <div class="row">
    <div class="footer col-lg-12">
    	<p>♥ from the txt santa team</p>
    </div>
  </div>

    
</div>