<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#/wishlist">list</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
	<h3 class="text-muted">Santa</h3>
</div>

<div class="jumbotron">
	<h1>'Allo, 'Allo!</h1>
	<p class="lead">Always a pleasure scaffolding your apps.</p>
	<p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
</div>

<div class="row marketing">
	<h4>HTML5 Boilerplate</h4>
	<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

	<h4>Angular</h4>
	<p>AngularJS is a toolset for building the framework most suited to your application development.</p>

	<h4>Karma</h4>
	<p>Spectacular Test Runner for JavaScript.</p>
</div>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>