<div class="page-home container">
  <div class="row">
    <div class="col-md-6 col-lg-5 col-lg-offset-1">
      <div id="left-column" class="col">
        <p class="talk-bubble">Hi boys and girls. I'm now accepting gift requests by texting me at (754) 227-2682. Enter a phone number to find a list.</p>
        
        <div class="input-group">
          <input id="number-input" type="text" class="form-control" ng-enter="wishlist()" ng-model="number" placeholder="+13135551212" min="11" max="11" required>
          <span class="input-group-btn">
            <button id="next-button" class="btn btn-default" type="button" ng-click="wishlist()"><i class="glyphicon glyphicon-chevron-right"></i></button>
          </span>
        </div>
        
      </div>
    </div>
    
    <div class="col-md-6 col-lg-7">
      <div class="col">
        
      </div>
    </div>
  </div>

</div>