<div class="page-wishlist container">
  
  <div class="row">
      
      <div class="col-lg-12" ng-show="!loaded">
        <p>Loading</p>
      </div>
      <div class="col-lg-12" ng-show="filteredResults().length < 1">
        <p>No messages</p>
      </div>
      
      <ul class="message-list col-lg-offset-1 col-lg-10" ng-show="loaded">
        <li class="container" ng-repeat="message in messages | orderBy:'date_sent':true " ng-click="selectedMessage($index, message.key)" ng-class="{true:'active'}[selectedMsg == $index]">
        
          <article class="message-bubble">
            <span class="message-body">"{{message.body}}"</span>
            <span class="date">{{ formatDate(message.date_sent) | date:'medium' }}</span>
          </article>
          <img class="profile-image" src="http://gravatar.com/avatar/ceca994a1866cd2448cf87cab6d6c086.jpg"/>
          
        </li>
      </ul>
          
  </div>
  
  <div style="clear: both;"></div>
    
</div>